<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2>Listagem de Usuarios</h2>
                    <div class="alinharDireita">
                        <button  type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" (click)="open()">
                            novo
                        </button>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                          <tr>
                            <th >ID</th>
                            <th >Usuario</th>
                            <th >Supemercado</th>
                          </tr>
                        </thead>
                        <tbody>
                            @for (usuario of lista; track $index) {
                            <tr>
                                <th>{{usuario.id}}</th>
                                <td>{{usuario.usuario}}</td>
                                <td>{{usuario.supermercado.nome}}</td>
                                <th class="alinharDireita">
                                    <button   type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" >
                                        Editar
                                    </button>
                                    <button  (click)="delete(usuario)" type="button" class="btn btn-outline-danger btn-rounded" mdbRipple rippleColor="dark">
                                        Deletar
                                    </button>
                                </th>
                                
                            </tr>
                            }
                        </tbody>
                      </table>

                </div>
            </div>
        </div>

        

    </div>

</div>


<ng-template #modalUsuarioNew>

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Usuario</h5>
        <button (click)="close()"></button>
    </div>
    <div class="modal-body">

    <app-usuario-form></app-usuario-form>

    </div>

</ng-template>  