
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2>Listagem de Produtos</h2>
                    <div class="alinharDireita">
                        <button  type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="new()">Novo</button>
                    </div>
                    <br>
                    <table border ="1" class="table">
                        <thead>
                          <tr>
                            <th >ID</th>
                            <th >Nome</th>
                            <th >Validade</th>
                            <th >Preço</th>
                            <th >Supermercado</th>
                        
                        
                          </tr>
                        </thead>
                        <tbody>
                            
                            @for (produto of lista; track $index) {
                            <tr>
                                <td>{{produto.id}}</td>
                                <td>{{produto.nome}}</td>
                                <td>{{produto.validade}}</td>
                                <td>{{produto.precoOriginal}}</td>
                                <td>{{produto.supermercado.nome}}</td>
                            
                                <th class="alinharDireita">
                                    <div>
                                        @if(botoes){
                                            <button routerLinkActive="router-link-active"  type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" (click)="select(produto)">
                                                Selecionar
                                            </button>
                                        }
                                        @else {
                                            <button routerLinkActive="router-link-active"  type="button" class="btn btn-outline-success btn-rounded" mdbRipple (click)="edit(produto)">Editar</button>
                                            
                                            
                                            
                                            <button (click)="delete(produto)" type="button" class="btn btn-outline-danger btn-rounded" mdbRipple rippleColor="dark">
                                                Deletar
                                            </button>
                                        }
                                    </div>
                                </th>
                                
                            </tr>
                            }
                        </tbody>
                      </table>

                </div>
            </div>
        </div>

        

    </div>


    <ng-template #modalProdutoDetalhe>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modalRef.close()"
            ></button>
          </div>
          <div class="modal-body">

            <app-produto-form [produto]="produtoEdit" (retorno)="retornoDetalhe($event)"></app-produto-form>

          </div>

    </ng-template>


   