
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2>Listagem de Supermercados</h2>
                    <div class="alinharDireita">
                        <div>
                            <input (keyup.enter)="findByEmailContainingIgnoreCase(emailBusqueda)" type="text" [(ngModel)]="emailBusqueda" placeholder="Buscar por email" />
                            <button (click)="findByEmailContainingIgnoreCase(emailBusqueda)">Buscar</button>
                          </div>
                        <button  type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="new()">Novo</button>
                    </div>
                    <br>
                    <table border ="1" class="table">
                        <thead>
                          <tr>
                            <th >ID</th>
                            <th >Nome</th>
                            <th >Rua</th>
                            <th >Email</th>
                            
                        
                          </tr>
                        </thead>
                        <tbody>
                            
                            @for (supermercado of lista; track $index) {
                            <tr>
                                <td>{{supermercado.id}}</td>
                                <td>{{supermercado.nome}}</td>
                                <td>{{supermercado.rua}}</td>
                                <td>{{supermercado.email}}</td>
                                
                                <th class="alinharDireita">
                                    <div>
                                        @if(botoes){
                                            <button routerLinkActive="router-link-active"  type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" (click)="select(supermercado)">
                                                Selecionar
                                            </button>
                                        }
                                        @else {
                                            <button routerLinkActive="router-link-active"  type="button" class="btn btn-outline-success btn-rounded" mdbRipple (click)="edit(supermercado)">Editar</button>
                                            
                                            
                                            
                                            <button (click)="delete(supermercado)" type="button" class="btn btn-outline-danger btn-rounded" mdbRipple rippleColor="dark">
                                                Deletar
                                            </button>
                                        }
                                    </div>
                                </th>
                                
                            </tr>
                            }
                        </tbody>
                      </table>

                </div>
            </div>
        </div>

        

    </div>


    <ng-template #modalSupermercadoDetalhe>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modalRef.close()"
            ></button>
          </div>
          <div class="modal-body">

            <app-supermercado-form [supermercado]="supermercadoEdit" (retorno)="retornoDetalhe($event)"></app-supermercado-form>

          </div>

        </ng-template>


   