<br>
<div class="container">
    <div class="row">
    

    <div class="col-lg-12 alinhar topo">

        <div class="card">
            <div class="card-body">
                <h2>Cadastrar Supermercado</h2>
                        
                
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="supermercado.nome" />
                    <label mdbLabel class="form-label" for="typeText">Nome</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="supermercado.rua" />
                    <label mdbLabel class="form-label" for="typeText">Rua</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="supermercado.email" />
                    <label mdbLabel class="form-label" for="typeText">Email</label>
                </mdb-form-control>
                <br>
               <!--<mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="supermercado.cadastroCompleto" />
                    <label mdbLabel class="form-label" for="typeText">Idade</label>
                </mdb-form-control>
                <br>--> 
                
                <button (click)="save()" type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark">
                    Salvar
                </button>
                
            </div>
        </div>

    </div>


    </div>
</div>    


