<br>
<div class="container">
    <div class="row">
    <div class="col-lg-12 alinhar topo">
        <div class="card">
            <div class="card-body">
                <h2>Cadastrar Comprador</h2>
                <br>
               <form #form="ngForm">
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="comprador.nome" name="nome" required/>
                    <label mdbLabel class="form-label" for="typeText">Nome</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="comprador.rua" name="rua" required/>
                    <label mdbLabel class="form-label" for="typeText">Rua</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="comprador.bairro" name="bairro" required />
                    <label mdbLabel class="form-label" for="typeText">Bairro</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="comprador.idade" name="idade" required/>
                    <label mdbLabel class="form-label" for="typeText">Idade</label>
                </mdb-form-control>
                <br>
                <div>
                    @if (comprador.genero == null) {
                        <button (click)="findGenero()" type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark">
                            Buscar Genero
                        </button>
                    }@else {
                        <button (click)="save()" type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" [disabled]="form.invalid">

                            Salvar
                        </button>
                    }
                    

                </div>
                


<ng-template #modalFindGenero>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
      </div>
      <div class="modal-body">

        <app-sexo-list [botoes]="true" (retornoSexo)="retornoGenero($event)"></app-sexo-list>

      </div>

</ng-template>