<br>
<div class="container">
    <div class="row">
   

        <div class="col-lg-12 alinhar topo">

        <div class="card">
            <div class="card-body">
                <h2>Cadastrar Usuario</h2>
                        
                
                <br>
                <form #form="ngForm">
                <mdb-form-control>
                    <input mdbInput type="text" id="typeText" class="form-control" [(ngModel)]="usuario.usuario"  name="usuario" required/>
                    <label mdbLabel class="form-label" for="typeText">Usuario</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="password" id="typeText" class="form-control" [(ngModel)]="usuario.senha" name="senha" required/>
                    <label mdbLabel class="form-label" for="typeText">Senha</label>
                </mdb-form-control>
                <br>

                <div>
                    @if (usuario.supermercado == null) {
                        <button  type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" (click)="findSupermercado()">
                            Seleccionar Supermercado
                        </button>
                    }@else {
                        <button  type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark" (click)="save()" [disabled]="form.invalid">
                            Salvar
                        </button>
                    }
                </div>
                



<ng-template #modalFindSupermercado>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar Supermercado</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
      </div>
      <div class="modal-body">

        <app-supermercado-list [botoes]="true" (retornoSupermercado)="retornoSupermercado($event)"></app-supermercado-list>

      </div>

</ng-template>