
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
.alinhar{
    text-align: center;
}

.alinharDireita{
    text-align: right;
}

body{
    background-color: rgb(201, 161, 161);
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
